html {
  background-color: black;
  font-family: 'Ark Pixel', serif;
  line-height: 1;
}

.card {
  border-radius: 12px;
  border: 1px solid white;
  background-color: black;
  box-shadow: 4px 4px 0 0 white;
  overflow: hidden;
}

.gradient-card {
  border-radius: 28px;
  background: linear-gradient(80deg, #F6CEA6 0%, #FF623F 100%);
  box-shadow: 0 -3px 0 0 #FFC0B2;
  color: #333;
}
