html {
  background: #121212;
  /* font-family: "Ark Pixel", serif; */
  line-height: 1;
  color: white;
}

h2 {
  font-size: 24px;
}

.card {
  border-radius: 12px;
  border: 1px solid white;
  background-color: black;
  box-shadow: 4px 4px 0 0 white;
  overflow: hidden;
}

.gradient-card {
  border-radius: 28px;
  background: linear-gradient(80deg, #f6cea6 0%, #ff623f 100%);
  box-shadow: 0 -3px 0 0 #ffc0b2;
  color: #333;
}

.inner-glowing-box {
  padding: 16px;
  border-radius: 6px;
  border: 1px solid white;
  background: radial-gradient(50% 50% at 50% 50%, #373737 0%, #0e0e0e 100%);

  .data-text {
    font-size: 24px;
    color: #ff623f;
  }
}

.scrollbar {
  overflow: auto;
}
.scrollbar::-webkit-scrollbar {
  width: 4px;
}
.scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px; /* Optional for rounded thumb */
  @apply bg-gray-500/30;
}
